.timer{
    width: 100px;
    font-size: 5pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    height: 10px;
}

.timer div:first-child{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;
}

section p:first-child, .timer div:first-child span {
    font-size: 3em;
}